
:host ::ng-deep {
  .p-field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .p-field-checkbox {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .p-inputmask {
    width: 100%;
  }
}
:host {
  background-color: #860505; /* Replace with your desired color */
}
