<p-menubar class="layout-topbar" [model]="items">
  <ng-template #start>
          <p-image src="/assets/images/logo.png" alt="Image" width="80"/>
    <!-- <i class="pi pi-briefcase" style="font-size: 2rem"></i> -->

  </ng-template>
  <ng-template #item let-item let-root="root">
    <p-stepper *ngIf="isAuthenticated" [(value)]="steperValue" class="basis-[40rem] modification" [linear]="true">
      <p-step-list>
        <p-step [value]="1">Lista Formulario</p-step>
        <p-divider layout="vertical" />
        <p-step [value]="2">Crear Formulario</p-step>
      </p-step-list>
    </p-stepper>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <span *ngIf="!isAuthenticated">ComercioCore</span>
      <div (click)="menuUsuario.toggle($event)" style="cursor: pointer;" *ngIf="isAuthenticated" class="flex flex-row items-center gap-2">
        <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large" shape="circle"
          ></p-avatar>
        <div>
          <div class="p-text-bold font-bold" style="font-size: 1.1rem; color: #333a7b;">
            Bienvenido!
          </div>
          <div>{{ currentUser.correo || 'a@a.com' }}</div>
          <div style="font-size: 0.9rem; color: #666;">
            {{ currentUser?.rol || 'Usuario' }}
          </div>
        </div>
        <p-menu #menuUsuario [popup]="true" [model]="opcionesUsuario"></p-menu>
      </div>
    </div>
  </ng-template>
</p-menubar>
